####################
# Java / Maven
####################
**/target/
**/out/
*.class

####################
# IntelliJ / IDE
####################
.idea/
*.iml
*.ipr
*.iws

####################
# Python
####################
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

####################
# Sonstiges
####################
*.log
.DS_Store