services:
  data-init:
    image: data
    restart: "no"
    volumes:
      - ./data:/data
    command: ["sh", "-c", "cp -an /opt/app/data/.jg-evernote /data/.jg-evernote"]

  app1:
    image: python-services
    volumes:
      - ./data:/data
    depends_on:
      data-init:
        condition: service_completed_successfully
#    healthcheck:
#      test: ["CMD", "sh", "-c", "wget -qO- http://localhost:8000/docs || exit 1"]
#      interval: 5s
#      timeout: 2s
#      retries: 30
#      start_period: 10s


  app2:
    image: java-services
    volumes:
      - ./data:/data
    environment:
      - PY_BASE_URL=http://app1:8000
    depends_on:
      data-init:
        condition: service_completed_successfully
      app1:
        condition: service_started